<main>

## 活動実績
2021年度以降の実績を掲載しています

- 中高生国際Rubyプログラミングコンテスト 2022 in Mitaka
    - 優秀賞
    - スポンサー賞
- JOI 2021/2022
    - 本戦出場
- 中国地区高専コンピュータフェスティバル 2022
    - メディアコンテンツ部門 3位
    - アプリケーション部門 3位
- 令和4年度第30回コンピューターフェスティバル
    - 部長賞
- 第33回全国高等専門学校プログラミングコンテスト
    - 課題部門 Pixiv企業賞
    - 自由部門 TOYOTA SYSTEMS企業賞・特別賞
- 令和5年度第31回コンピューターフェスティバル
    - メディアコンテンツ部門 3位
    - 競技部門 2位

</main>
